// Calculator page styles


.calculator__descr {
	margin: 0 auto;
	padding: 0 150px 25px 150px;
	font-family: 'ElliotRegular', sans-serif;
	font-size: 1.25rem;
	color: $text-third-color;
	line-height: (27/20);
	text-align: center;

	@include respond-to(extrasmall) {
		padding: 0 0 25px 0;
		font-size: 1.125rem;
	}

	@include respond-to(small) {
		padding: 0 0 25px 0;
	}
}