// Contacts page styles

.contacts__title {
	margin: 0;
	padding: 0 0 22px 0;
	font-family: 'ElliotBold', sans-serif;
	font-size: 1.875rem;
	color: $text-primary-color;
	text-align: left;

	@include respond-to(extrasmall) {
		text-align: center;
	}

}

.contacts__subtitle {
	margin: 20px 0 10px 0;
	font-family: 'ElliotBold', sans-serif;
	font-size: 1.125rem;
	color: $text-primary-color;
	letter-spacing: 1px;
	text-align: left;

	@include respond-to(extrasmall) {
		text-align: center;
	}

}

.contacts__link {
	display: block;
	font-family: 'ElliotRegular', sans-serif;
	font-size: 1.125rem;
	color: $text-primary-color;
	transition: color 0.3s;
	text-align: left;

	@include respond-to(extrasmall) {
		text-align: center;
	}

	&:hover {
		color: $accent-color;
	}

	&.contacts__tel1 {
		padding: 0 0 7px 0;
	}

}

.contacts__adress {
	margin: 0;
	padding: 0 0 5px 0;
	font-family: 'ElliotRegular', sans-serif;
	font-size: 1.125rem;
	color: $text-primary-color;
	text-align: left;

	@include respond-to(extrasmall) {
		text-align: center;
	}
	
}

.contacts__text {
	margin: 0;
	padding: 13px 0 10px 0;
	font-family: 'ElliotRegular', sans-serif;
	font-size: 1rem;
	color: $text-primary-color;
	line-height: (21/16);
	text-align: left;
}

.consultation-block__link {
	position: relative;
	margin: 0;
	font-family: 'ElliotBold', sans-serif;
	font-size: 1rem;
	color: $text-primary-color;
	line-height: (38/16);
	letter-spacing: 1px;
	transition: color 0.3s;
	float: left;

	&:after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 8px;
		width: 100%;
		height: 1px;
		background: $text-primary-color;
		transition: background 0.3s;				
	}

	&:hover {
		color: $accent-color;

		&:after {
			background: $accent-color;
		}

	}

}

// Map styles
#map {
	height: 400px;
	background: #fafafa;
}

// Form styles
.form {

	.form__form-label {
		display: block;
		text-align: left;
		padding: 0 0 0 18px;
		font-family: 'ElliotRegular', sans-serif;
		font-size: 0.875rem;
		color: $text-primary-color;

		&.error {
			color: $error;
		}

		&.valid {
			color: $success;
		}

	}

	.form__form-input {
		box-sizing: border-box;
		float: left;
		width: 80%;
		margin: 1px 0 30px 0;
		padding: 11px 0 11px 18px;
		font-family: 'ElliotRegular', sans-serif;
		font-size: 1rem;
		line-height: 1.33;
		border: none;
		border-bottom: 1px solid $text-primary-color;

		@include respond-to(extrasmall) {
			width: 100%;
		}

		@include respond-to(small) {
			width: 100%;
		}

		&:focus {
			outline: none;
		}

		&:active {
			color: $text-primary-color;
			outline: none;
		}

		&.error {
			border-bottom: 1px solid $error;
		}

		&.valid {
			border-bottom: 1px solid $success;
		}
		
	}

	.form__form-textarea {
		box-sizing: border-box;
		float: left;
		width: 94%;
		min-height: 100px;
		margin: 3px 0 0 0;
		padding: 11px 0 11px 18px;
		font-family: 'ElliotRegular', sans-serif;
		font-size: 1rem;
		border: none;
		border-bottom: 1px solid $text-primary-color;
		resize: none;

		@include respond-to(extrasmall) {
			width: 100%;
		}

		@include respond-to(small) {
			width: 100%;
		}

		&:focus {
			outline: none;
		}

		&:active {
			color: $text-primary-color;
			outline: none;
		}

	}

	.form__btn {
		box-sizing: border-box;
		float: left;
		width: 170px;
		height: 48px;
		margin: 90px 0 0 0;
		border: 1px solid $text-primary-color;
		border-radius: 4px;
		background: transparent;
		font-family: 'ElliotRegular', sans-serif;
		font-size: 0.9125rem;
		color: $text-primary-color;

		@include respond-to(extrasmall) {
			float: none;
		}

		@include respond-to(small) {
			float: none;
		}

		&:focus {
			outline: none;
		}

	}

}