// Contacts page styles

.contacts__title {
	margin: 0;
	padding: 0 0 22px 0;
	font-family: 'ElliotBold', sans-serif;
	font-size: 1.875rem;
	color: $text-primary-color;
	text-align: left;

	@include respond-to(extrasmall) {
		text-align: center;
	}

}

.contacts__subtitle {
	padding: 10px 0 0 0;
	font-family: 'ElliotBold', sans-serif;
	font-size: 1.125rem;
	color: $text-third-color;
	letter-spacing: 1px;

	@include respond-to(extrasmall) {
		text-align: center;
	}

}

.contacts__link {
	display: block;
	font-family: 'ElliotRegular', sans-serif;
	font-size: 1.125rem;
	color: $text-primary-color;
	transition: color 0.3s;

	@include respond-to(extrasmall) {
		text-align: center;
	}

	&:hover {
		color: $accent-color;
	}

	&.contacts__tel1 {
		padding: 0 0 7px 0;
	}

}

.contacts__text {
	margin: 0;
	padding: 0;
	font-family: 'ElliotRegular', sans-serif;
	font-size: 1.0625rem;
	color: $text-primary-color;
	line-height: 1.33;
}

// Map styles
#map {
	height: 450px;
	background: #fafafa;
}

// Form styles
.form {
	padding: 40px 0 0 0;

	.fieldset {
		position: relative;
		display: flex;
		flex-direction: column-reverse;
		width: 100%;
		max-width: 270px;
		margin: auto;

		@include respond-to(extrasmall) {
			max-width: 100%;
		}
		@include respond-to(small) {
			max-width: 100%;
		}

		&.fluid {
			max-width: 100%;
		}
	}

	.form__form-label {
		display: block;
		text-align: left;
		padding: 0 0 0 18px;
		font-family: 'ElliotRegular', sans-serif;
		font-size: 0.8125rem;
		color: $text-primary-color;

		&.error {
			color: $error;
		}

		&.valid {
			color: $success;
		}
	}

	.form__form-input {
		box-sizing: border-box;
		margin: 0 0 60px 0;
		padding: 11px 0 11px 18px;
		font-family: 'ElliotRegular', sans-serif;
		font-size: 1rem;
		line-height: 1.33;
		border: none;
		border-bottom: 1px solid #cacaca;

		@include respond-to(extrasmall) {
			margin: 0 0 40px 0;
		}

		@include respond-to(small) {
			margin: 0 0 40px 0;
		}

		&:focus {
			outline: none;
			border-bottom: 1px solid $text-third-color;
		}

		&:active {
			color: $text-primary-color;
			outline: none;
			border-bottom: 1px solid $text-third-color;
		}

		&.error {
			border-bottom: 1px solid $error;
		}

		&.valid {
			border-bottom: 1px solid $success;
		}

	}

	.form__form-textarea {
		box-sizing: border-box;
		min-height: 100px;
		margin: 0;
		padding: 11px 0 11px 18px;
		font-family: 'ElliotRegular', sans-serif;
		font-size: 1rem;
		border: none;
		border-bottom: 1px solid #cacaca;
		resize: none;

		@include respond-to(extrasmall) {
			width: 100%;
		}

		@include respond-to(small) {
			width: 100%;
		}

		&:focus {
			outline: none;
			border-bottom: 1px solid $text-third-color;
		}

		&:active {
			color: $text-primary-color;
			outline: none;
			border-bottom: 1px solid $text-third-color;
		}

	}

	.form__btn {
		@include btn($text-third-color, $btn-border-color-light);
		background: transparent;
		margin: 50px 0 0 0;

		&:focus {
			outline: none;
		}

	}

}

input:focus + label {
	color: $text-third-color !important;
}
input.error + label {
	color: $error !important;
}
input.valid + label {
	color: $success !important;
}
textarea:focus + label {
	color: $text-third-color !important;
}
textarea.error + label {
	color: $error !important;
}
textarea.valid + label {
	color: $success !important;
}