// Contacts page styles

.contacts__title {
	margin: 0;
	padding: 0 0 22px 0;
	font-family: 'ElliotBold', sans-serif;
	font-size: 1.875rem;
	color: $text-primary-color;
	text-align: left;

	@include respond-to(extrasmall) {
		text-align: center;
	}

}

.contacts__subtitle {
	padding: 10px 0 0 0;
	font-family: 'ElliotBold', sans-serif;
	font-size: 1.125rem;
	color: $text-third-color;
	letter-spacing: 1px;

	@include respond-to(extrasmall) {
		text-align: center;
	}

}

.contacts__link {
	display: block;
	font-family: 'ElliotRegular', sans-serif;
	font-size: 1.125rem;
	color: $text-primary-color;
	transition: color 0.3s;

	@include respond-to(extrasmall) {
		text-align: center;
	}

	&:hover {
		color: $accent-color;
	}

	&.contacts__tel1 {
		padding: 0 0 7px 0;
	}

}

.contacts__text {
	margin: 0;
	padding: 0;
	font-family: 'ElliotRegular', sans-serif;
	font-size: 1.0625rem;
	color: $text-primary-color;
	line-height: 1.33;
}

// Map styles
#map {
	height: 450px;
	background: #fafafa;
}