// Outsourcing page styles



.outsourcing__regular-text {
	margin: 5px 0;
	font-family: 'ElliotRegular', sans-serif;
	font-size: 1rem;
	color: $text-primary-color;
	line-height: (24/16);
	text-align: left;

	@include respond-to(extrasmall) {
		padding: 0 15px;
	}

	@include respond-to(small) {
		padding: 0 15px;
	}

	&:nth-child(1) {
		margin: 20px 0 5px 0;
	}
}

.outsourcing__title-text {
	margin: 5px 0;
	font-family: 'ElliotRegular', sans-serif;
	font-size: 1rem;
	color: $accent-color;
	line-height: (24/16);
	text-align: left;

	@include respond-to(extrasmall) {
		padding: 0 15px;
	}

	@include respond-to(small) {
		padding: 0 15px;
	}

	&:nth-of-type(1) {
		margin: 20px 0 5px 0;
	}

	&:nth-of-type(2) {
		margin: 20px 0 5px 0;
	}
}

.outsourcing__link {
	@include btn($text-third-color, $btn-border-color-light);
	margin: 45px 0 90px 0;
}

.outsourcing {
	&__stoke-block {
		position: relative;
		padding: 110px 0;

		&__img-bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('../img/bg-offer-outsourcing.jpg') no-repeat;
			background-size: cover;
			z-index: -3;
		}

		&__opacity-bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(255, 255, 255, 0.9);
			z-index: -2;
		}
	}

	&__block__title {
		margin: 0;
		font-family: 'ElliotRegular', sans-serif;
		font-size: 0.875rem;
		color: $accent-color;
		text-align: center;
	}

	&__block__subtitle {
		margin: 20px 0 30px 0;
		font-family: 'ElliotBold', sans-serif;
		font-size: 1.875rem;
		color: $text-third-color;
		text-align: center;
		line-height: 1.33;
	}

	&__advanteges__title {
		display: block;
		max-width: 760px;
		margin: 0 auto;
		padding: 5px 0 40px 0;
		font-family: 'ElliotRegular', sans-serif;
		font-size: 1.0625rem;
		color: $text-primary-color;
		line-height: (24/17);
		text-align: center;
	}

	&__stoke-block__btn {
		@include btn($text-third-color, $btn-border-color-light);
		background: transparent;
	    display: block;
    	margin: auto;

		&:focus {
			outline: none;
		}
	}

}