// Service template page


.service__descr {
	margin: 0;
	padding: 0 120px;
	font-family: 'ElliotRegular', sans-serif;
	font-size: 1.25rem;
	color: $text-third-color;
	line-height: (28/20);

	@include respond-to(extrasmall) {
		padding: 0 15px;
	}

	@include respond-to(small) {
		padding: 0 15px;
	}

	&:nth-child(2) {
		margin: 20px 0 100px 0;
	}
}

// Links to other pages
.service-page {
	.card {
		margin: 140px 0 110px 0;
		padding: 30px 40px 40px 40px;
		background: $service-card-bg;

		@include respond-to(extrasmall) {
			margin: 30px 0;
		}

		&__title {
			margin: 0;
			font-family: 'ElliotBold', sans-serif;
			font-size: 1.25rem;
			color: $text-third-color;
			line-height: (34/20);
			letter-spacing: 1px;
		}

		&__descr {
			margin: 7px 0 0 0;
			font-family: 'ElliotRegular', sans-serif;
			font-size: 1.0625rem;
			color: $text-primary-color;
			line-height: (24/17);
		}

		&__link {
			position: relative;
			display: inline-block;
			margin: 23px 0 0 0;
			padding: 0 20px 0 0;
			font-family: 'ElliotRegular', sans-serif;
			font-size: 0.9375rem;
			color: $text-third-color;
			letter-spacing: 1px;

			&:hover {
				.arrow {
					right: -8px;

					.st1 {
						transform: scale(1);
					}
				}
			}

			.arrow {
			    position: absolute;
			    top: 50%;
			    margin-top: -4px;
			    right: 0;
				width: 22px;
				fill: $text-third-color;
				transition: right 0.3s;

				.st1 {
					width: 14px;
					height: 1px;
					transform-origin: right;
					transform: scale(0);
					transition: all 0.3s;
				}

				.st2 {
					width: 8px;
					height: 9px;
					transform: translateX(-7px);
				}
			}
		}
	}
}