// Service template page


.service__descr {
	margin: 0;
	padding: 0 120px;
	font-family: 'ElliotRegular', sans-serif;
	font-size: 1.125rem;
	color: $text-third-color;
	line-height: (26/18);

	@include respond-to(extrasmall) {
		padding: 0 15px;
		font-size: 1.125rem;
	}

	@include respond-to(small) {
		padding: 0 15px;
	}

	&:nth-child(2) {
		margin: 20px 0 100px 0;
	}
}