// Footer styles
.footer-top {
	padding: 70px 0;
	background: $footer-top-bg;

	@include respond-to(extrasmall) {
		padding: 67px 0 70px 0;
	}
}

.footer-top__title {
	margin: 0;
	font-family: 'ElliotBold', sans-serif;
	font-size: 0.9375rem;
	color: $text-third-color;
	letter-spacing: 1px;

	@include respond-to(extrasmall) {
		padding: 30px 0 0 0;
	}
}

// Site sections
.footer-top__list {
	margin: 12px 0 0 0;
	padding: 0;
	list-style: none;

	&:nth-child(2) {
		margin-left: 40px;

		@include respond-to(extrasmall) {
			margin: 0;
		}

		@include respond-to(small) {
			margin: 0;
		}

	}

	&__item {

		&__link {
			font-family: 'ElliotRegular', sans-serif;
			font-size: 0.9375rem;
			color: $text-primary-color;
			line-height: (26/15);
			transition: color 0.3s;

			&:hover {
				color: $accent-color;
			}
		}

	}
}

// Flex container
.flex--container {
	display: flex;

	@include respond-to(extrasmall) {
		flex-direction: column;
	}

	@include respond-to(small) {
		flex-direction: column;
	}
}

// Form
.footer-form {
	display: flex;
	align-items: baseline;
	flex-direction: column;
	margin: 23px 0 0 0;
	padding: 0 !important;

	&__fieldset {
		position: relative;
		display: flex;
		flex-direction: column-reverse;
		width: 100%;
		margin: 0;

		.input__underline {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0;
			height: 1px;
			background: $text-third-color;
			transition: width 0.5s;
		}

		&__input {
			position: relative;
			margin: 0;
			padding: 0 0 12px 0;
			width: 100%;
			font-family: 'ElliotRegular', sans-serif;
			font-size: 0.875rem;
			color: $text-third-color;
			background: transparent;
			border: none;
			border-bottom: 1px solid $grey-light;

			&:active {
				outline: none;
			}

			&:focus {
				outline: none;
			}

			&:focus + span {
				width: 100%;
			}

			&.valid {
				border-bottom: 1px solid $success;
			}
		}

	}

	&__btn {
		position: relative;
		margin: 12px 0 10px 0;
		padding: 0 20px 0 0;
		font-family: 'ElliotRegular', sans-serif;
		font-size: 0.9375rem;
		color: $text-third-color;
		line-height: (20/12);
		border: none;
		background: transparent;

		&:active {
			outline: none;
		}

		&:focus {
			outline: none;
		}

		&:hover {

			.icon {
				right: -8px;

				.st1 {
					transform: scale(1);
				}

			}

		}

		.icon {
			position: absolute;
		    top: 50%;
		    margin-top: -4px;
		    right: 0;
			width: 22px;
			fill: $text-third-color;
			transition: right 0.3s;

			.st1 {
				width: 14px;
				height: 1px;
				transform-origin: right;
				transform: scale(0);
				transition: all 0.3s;
			}

			.st2 {
				width: 8px;
				height: 9px;
				transform: translateX(-7px);
			}
		}
	}

}

.footer-tel {
	display: block;
	font-family: 'ElliotRegular', sans-serif;
	font-size: 0.875rem;
	color: $text-primary-color;
	line-height: (26/14);
	transition: color 0.3s;

	&:hover {
		color: $accent-color;
	}
}

.footer-bottom {
	padding: 35px 0;
	background: $footer-bottom-bg;

	.flex--container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.requisites {
		margin: 0;
		padding: 0 0 0 15px;
		font-family: 'ElliotRegular', sans-serif;
		font-size: 0.8125rem;
		color: $text-primary-color;
		line-height: (18/13);

		@include respond-to(extrasmall) {
			padding: 0;
			text-align: center;
		}
	}

	.developers {
		display: flex;
		align-items: center;

		@include respond-to(extrasmall) {
			margin: 20px 0 0 0;
		}

		&__link {
			margin: 0;
			padding: 0 15px 0 0;
			font-family: 'ElliotRegular', sans-serif;
			font-size: 0.8125rem;
			color: $text-primary-color;
			line-height: (19/13);
			transition: color 0.3s;

			&:hover {
				color: $accent-color;
			}
		}

		&__logo {
			width: 80px;
			height: 14px;
			fill: #3a3a3a;
		}
		
	}
}