<!-- Footer -->

<footer>
	<div class="footer-top">
		<div class="grid grid--container">
			<div class="row">
				<div class="col col--xs-12 col--sm-12 col--md-3 col--lg-3 col--xl-3">
					<h3 class="footer-top__title">РАЗДЕЛЫ САЙТА</h3>
					<div class="flex--container">
						<ul class="footer-top__list">
							<li class="footer-top__list__item">
								<a href="/index.html" class="footer-top__list__item__link">Главная</a>
							</li>
							<li class="footer-top__list__item">
								<a href="/about.html" class="footer-top__list__item__link">О компании</a>
							</li>
							<li class="footer-top__list__item">
								<a href="/services.html" class="footer-top__list__item__link">Услуги</a>
							</li>
						</ul>
						<ul class="footer-top__list">
							<li class="footer-top__list__item">
								<a href="/faq.html" class="footer-top__list__item__link">FAQ</a>
							</li>
							<li class="footer-top__list__item">
								<a href="/outsourcing.html" class="footer-top__list__item__link">Аутсорсинг</a>
							</li>
							<li class="footer-top__list__item">
								<a href="/contacts.html" class="footer-top__list__item__link">Контакты</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="col col--xs-12 col--sm-12 col--md-6 col--lg-6 col--xl-6">
					<h3 class="footer-top__title">НАШИ УСЛУГИ</h3>
					<div class="flex--container">
						<ul class="footer-top__list">
							<li class="footer-top__list__item">
								<a href="/services/buhgalterskoe-obsluzhivanie.html" class="footer-top__list__item__link">Бухгалтерское сопровождение</a>
							</li>
							<li class="footer-top__list__item">
								<a href="/services/kadrovyj-uchet.html" class="footer-top__list__item__link">Кадровый учет</a>
							</li>
							<li class="footer-top__list__item">
								<a href="/services/nalogovaja-otchetnost.html" class="footer-top__list__item__link">Налоговая отчетность</a>
							</li>
							<li class="footer-top__list__item">
								<a href="/services/konsultacija-buhgaltera.html" class="footer-top__list__item__link">Консультация бухгалтера</a>
							</li>
						</ul>
						<ul class="footer-top__list">
							<li class="footer-top__list__item">
								<a href="/services/registracija-juridicheskih-lic.html" class="footer-top__list__item__link">Регистрация юридических лиц</a>
							</li>
							<li class="footer-top__list__item">
								<a href="/services/calculator.html" class="footer-top__list__item__link">Калькулятор услуг</a>
							</li>
							<li class="footer-top__list__item">
								<a href="/services/vosstanovlenie-ucheta.html" class="footer-top__list__item__link">Восстановление учета</a>
							</li>
							<li class="footer-top__list__item">
								<a href="/services/likvidacija-predprijatija.html" class="footer-top__list__item__link">Ликвидация предприятия</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="col col--xs-12 col--sm-12 col--md-3 col--lg-3 col--xl-3">
					<h3 class="footer-top__title">НОВОСТНАЯ РАССЫЛКА</h3>
					<form class="form footer-form" id="subscribe_form">
						<div class="footer-form__fieldset">
							<input class="footer-form__fieldset__input input__validation" type="email" id="email" name="email" placeholder="Введите email-адрес">
							<span class="input__underline"></span>
						</div>
						<button class="footer-form__btn">ПОДПИСАТЬСЯ
							<svg class="icon" viewBox="0 0 22.9 8.9">
								<g>
									<g>
										<rect width="14px" height="1px" y="3.9" class="st1"></rect>
									</g>
									<g>
										<polygon class="st2" points="17.7,8.9 16.9,8 21.1,4.5 16.9,0.9 17.7,0 22.9,4.5     "></polygon>
									</g>
								</g>
							</svg>
						</button>
					</form>
					<a href="tel:+375173605051" class="footer-tel">8 (017) 360 50 51</a>
					<a href="tel:+375296863797" class="footer-tel">8 (029) 686 37 97</a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="grid grid--container">
			<div class="flex--container">
				<p class="requisites">2017 © ЧУП «Гарант Проф Учет» - бухгалтерские и  юридические<br>услуги в Минске. Кадровый учет, регистрация ООО.</p>
				<a href="http://spaced.by/?utm_source=clients&utm_medium=gpu&utm_campaign=gpufooter" target="_blank">
					<div class="developers">
						<p class="developers__link">Разработка сайта</p>
						<svg class="developers__logo" width="80px" height="14px" viewBox="0 0 101.8 18.1">
							<style type="text/css">
								.st00{fill:none;}
								.st11{fill:#FFFFFF;}
							</style>
							<g>
								<path d="M0,15.2L1.8,13c1.7,1.4,3.3,2.3,5.5,2.3c1.9,0,3.1-0.9,3.1-2.2c0-1.3-0.7-1.9-3.9-2.7c-3.7-0.9-5.8-2-5.8-5.2   c0-3,2.5-5.1,6-5.1c2.5,0,4.6,0.8,6.3,2.2l-1.6,2.3C9.8,3.4,8.2,2.8,6.6,2.8c-1.8,0-2.8,0.9-2.8,2.1c0,1.3,0.8,1.9,4.1,2.7   c3.7,0.9,5.6,2.2,5.6,5.2c0,3.3-2.6,5.2-6.2,5.2C4.6,18,2.1,17.1,0,15.2z"/>
								<path d="M50,9c0-5,3.7-9,9-9c3.2,0,5.2,1.1,6.8,2.7l-2,2.3C62.5,3.7,61,2.8,59,2.8c-3.4,0-5.8,2.7-5.8,6.2c0,3.4,2.4,6.2,5.8,6.2   c2.1,0,3.5-0.9,5-2.3l2,2c-1.8,1.9-3.8,3.1-7.1,3.1C53.8,18.1,50,14.1,50,9z"/>
								<polygon class="st00" points="36.7,10.8 36.7,10.8 36.9,10.4  "/>
								<polygon points="41.2,0.2 38.3,0.2 30.6,17.8 33.8,17.8 35.4,14.1 36.7,10.8 36.7,10.8 36.9,10.4 37.5,8.9 37.5,8.9 39.7,3.8    42.7,10.8 36.6,10.8 35.4,13.6 43.8,13.6 45.6,17.8 48.9,17.8  "/>
								<polygon class="st11" points="37.5,8.9 36.9,10.4 37.5,8.9  "/>
								<path d="M24.1,0.3h-6.9v2.8h3.4v0h3.2c2.3,0,3.8,1.1,3.8,3.1c0,1.9-1.5,3.2-3.8,3.2h-3.6v0l0,0l-3.1-3.1v11.5h3.1v-5.6h3.5   c3.8,0,7-2,7-6C30.7,2.6,28.1,0.3,24.1,0.3z"/>
								<polygon class="st11" points="17.1,6.2 17.1,6.2 17.2,6.3 17.2,6.2  "/>
								<polygon class="st11" points="17.2,6.2 17.1,6.2 17.2,6.2  "/>
								<path d="M92.5,0.3H86v2.8h4.8v0h1.7c3.7,0,6.1,2.5,6.1,5.9c0,3.5-2.4,5.9-6.1,5.9h-3.4V9.6L86,6.6v11.2h6.5c5.5,0,9.3-3.8,9.3-8.7   C101.8,4.1,98,0.3,92.5,0.3z"/>
								<polygon points="72.3,15.1 72.3,12.8 72.3,10.4 72.3,7.6 72.3,6.6 72.3,3.1 82.2,3.1 82.2,0.3 69.2,0.3 69.2,17.9 82.3,17.9    82.3,15.1  "/>
								<rect x="71.3" y="7.6" width="9.7" height="2.8"/>
							</g>
						</svg>
					</div>
				</a>
			</div>
		</div>
	</div>
</footer>

<!-- /Footer -->



<!-- Free Audit popup -->

<div class="remodal-bg">
	<div class="remodal" data-remodal-id="free-audit">
		<div data-remodal-action="close" class="remodal-close">
			<svg class="remodal-close__icon" width="20px" height="20px" viewBox="680.314 0 2267.721 2267.719">
				<polygon points="2948.035,197.169 2750.865,0 1814.175,936.691 877.483,0 680.314,197.169 1617.006,1133.86 680.314,2070.551   877.483,2267.72 1814.175,1331.029 2750.865,2267.72 2948.035,2070.551 2011.344,1133.86 "/>
			</svg>
		</div>
		<div class="remodal__content">
			<div class="grid grid--container">
				<div class="row">
					<div class="col col--xs-12 col--sm-12 col--md-12 col--lg-12 col--xl-12">
						<h3 class="remodal__title">БЕСПЛАТНЫЙ АУДИТ</h3>
					</div>
					<div class="col col--xs-12 col--sm-12 col--md-12 col--lg-12 col--xl-12">
						<p class="remodal__subtitle">ОТПРАВЬТЕ ЗАЯВКУ НА БЕСПЛАТНЫЙ АУДИТ</p>
					</div>
				</div>
				<form id="free-audit_form" class="remodal__form form">
					<div class="row">
						<div class="col col--xs-0 col--sm-0 col--md-0 col--lg-1 col--xl-1"></div>
						<div class="col col--xs-12 col--sm-12 col--md-4 col--lg-3 col--xl-3">
							<div class="fieldset">
								<input class="form__form-input input__validation" id="name" name="name" type="text" placeholder="Иванов Василий">
								<label class="form__form-label" for="name">ВВЕДИТЕ ВАШЕ ИМЯ</label>
								<span class="input__underline"></span>
							</div>
						</div>
						<div class="col col--xs-12 col--sm-12 col--md-4 col--lg-4 col--xl-4">
							<div class="fieldset">
								<input class="form__form-input input__validation" id="tel" name="tel" type="text" placeholder="+ 375 (29) 000 00 00">
								<label class="form__form-label" for="tel">ВВЕДИТЕ ВАШ ТЕЛЕФОН</label>
								<span class="input__underline"></span>
							</div>
						</div>
						<div class="col col--xs-12 col--sm-12 col--md-4 col--lg-3 col--xl-3">
							<div class="fieldset">
								<input class="form__form-input input__validation" id="email" name="email" type="email" placeholder="contact@mail.com">
								<label class="form__form-label" for="email">ВВЕДИТЕ ВАШУ ПОЧТУ</label>
								<span class="input__underline"></span>
							</div>
						</div>
						<div class="col col--xs-0 col--sm-0 col--md-0 col--lg-1 col--xl-1"></div>
					</div>
					<div class="row">
						<div class="col col--xs-0 col--sm-0 col--md-0 col--lg-1 col--xl-1"></div>
						<div class="col col--xs-12 col--sm-12 col--md-10 col--lg-10 col--xl-10">
							<div class="fieldset fluid">
								<textarea class="form__form-textarea" id="message" name="msg" placeholder="Введите ваше сообщение"></textarea>
								<label class="form__form-label" for="message">ВВЕДИТЕ СВОЕ СООБЩЕНИЕ</label>
								<span class="input__underline"></span>
							</div>
						</div>
						<div class="col col--xs-0 col--sm-0 col--md-0 col--lg-1 col--xl-1"></div>
					</div>
					<div class="row">
						<div class="col col--xs-12 col--sm-12 col--md-12 col--lg-12 col--xl-12">
							<button class="form__btn btn-js">ОТПРАВИТЬ<span></span></button>
						</div>
					</div>
					<div class="row">
						<div class="col col--xs-12 col--sm-12 col--md-12 col--lg-12 col--xl-12">
							<a href="#" class="remodal__privacy-policy" data-remodal-target="privacy-policy">Политика конфиденциальности</a>
						</div>
					</div>
				</form>	
			</div>
		</div>
	</div>
</div>

<!-- /Free Audit popup -->



<!-- Free Consultation popup -->

<div class="remodal-bg">
	<div class="remodal" data-remodal-id="free-consultation">
		<div data-remodal-action="close" class="remodal-close">
			<svg class="remodal-close__icon" width="20px" height="20px" viewBox="680.314 0 2267.721 2267.719">
				<polygon points="2948.035,197.169 2750.865,0 1814.175,936.691 877.483,0 680.314,197.169 1617.006,1133.86 680.314,2070.551   877.483,2267.72 1814.175,1331.029 2750.865,2267.72 2948.035,2070.551 2011.344,1133.86 "/>
			</svg>
		</div>
		<div class="remodal__content">
			<div class="grid grid--container">
				<div class="row">
					<div class="col col--xs-12 col--sm-12 col--md-12 col--lg-12 col--xl-12">
						<h3 class="remodal__title">БЕСПЛАТНАЯ КОНСУЛЬТАЦИЯ</h3>
					</div>
					<div class="col col--xs-12 col--sm-12 col--md-12 col--lg-12 col--xl-12">
						<p class="remodal__subtitle">ОТПРАВЬТЕ ЗАЯВКУ НА БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ</p>
					</div>
				</div>
				<form id="free-consultation_form" class="remodal__form form">
					<div class="row">
						<div class="col col--xs-0 col--sm-0 col--md-0 col--lg-1 col--xl-1"></div>
						<div class="col col--xs-12 col--sm-12 col--md-4 col--lg-3 col--xl-3">
							<div class="fieldset">
								<input class="form__form-input input__validation" id="name" name="name" type="text" placeholder="Иванов Василий">
								<label class="form__form-label" for="name">ВВЕДИТЕ ВАШЕ ИМЯ</label>
								<span class="input__underline"></span>
							</div>
						</div>
						<div class="col col--xs-12 col--sm-12 col--md-4 col--lg-4 col--xl-4">
							<div class="fieldset">
								<input class="form__form-input input__validation" id="tel" name="tel" type="text" placeholder="+ 375 (29) 000 00 00">
								<label class="form__form-label" for="tel">ВВЕДИТЕ ВАШ ТЕЛЕФОН</label>
								<span class="input__underline"></span>
							</div>
						</div>
						<div class="col col--xs-12 col--sm-12 col--md-4 col--lg-3 col--xl-3">
							<div class="fieldset">
								<input class="form__form-input input__validation" id="email" name="email" type="email" placeholder="contact@mail.com">
								<label class="form__form-label" for="email">ВВЕДИТЕ ВАШУ ПОЧТУ</label>
								<span class="input__underline"></span>
							</div>
						</div>
						<div class="col col--xs-0 col--sm-0 col--md-0 col--lg-1 col--xl-1"></div>
					</div>
					<div class="row">
						<div class="col col--xs-0 col--sm-0 col--md-0 col--lg-1 col--xl-1"></div>
						<div class="col col--xs-12 col--sm-12 col--md-10 col--lg-10 col--xl-10">
							<div class="fieldset fluid">
								<textarea class="form__form-textarea" id="message" name="msg" placeholder="Введите ваше сообщение"></textarea>
								<label class="form__form-label" for="message">ВВЕДИТЕ СВОЕ СООБЩЕНИЕ</label>
								<span class="input__underline"></span>
							</div>
						</div>
						<div class="col col--xs-0 col--sm-0 col--md-0 col--lg-1 col--xl-1"></div>
					</div>
					<div class="row">
						<div class="col col--xs-12 col--sm-12 col--md-12 col--lg-12 col--xl-12">
							<button class="form__btn btn-js">ОТПРАВИТЬ<span></span></button>
						</div>
					</div>
					<div class="row">
						<div class="col col--xs-12 col--sm-12 col--md-12 col--lg-12 col--xl-12">
							<a href="#" class="remodal__privacy-policy" data-remodal-target="privacy-policy">Политика конфиденциальности</a>
						</div>
					</div>
				</form>	
			</div>
		</div>
	</div>
</div>

<!-- /Free Consultation popup -->



<!-- Quastion popup -->

<div class="remodal-bg">
	<div class="remodal" data-remodal-id="quastion-form">
		<div data-remodal-action="close" class="remodal-close">
			<svg class="remodal-close__icon" width="20px" height="20px" viewBox="680.314 0 2267.721 2267.719">
				<polygon points="2948.035,197.169 2750.865,0 1814.175,936.691 877.483,0 680.314,197.169 1617.006,1133.86 680.314,2070.551   877.483,2267.72 1814.175,1331.029 2750.865,2267.72 2948.035,2070.551 2011.344,1133.86 "/>
			</svg>
		</div>
		<div class="remodal__content">
			<div class="grid grid--container">
				<div class="row">
					<div class="col col--xs-12 col--sm-12 col--md-12 col--lg-12 col--xl-12">
						<h3 class="remodal__title">ЗАДАТЬ ВОПРОС</h3>
					</div>
					<div class="col col--xs-12 col--sm-12 col--md-12 col--lg-12 col--xl-12">
						<p class="remodal__subtitle">ЗАДАЙТЕ НАМ ВОПРОС И МЫ НА НЕГО ОТВЕТИМ</p>
					</div>
				</div>
				<form id="free-consultation_form" class="remodal__form form">
					<div class="row">
						<div class="col col--xs-0 col--sm-0 col--md-0 col--lg-1 col--xl-1"></div>
						<div class="col col--xs-12 col--sm-12 col--md-4 col--lg-3 col--xl-3">
							<div class="fieldset">
								<input class="form__form-input input__validation" id="name" name="name" type="text" placeholder="Иванов Василий">
								<label class="form__form-label" for="name">ВВЕДИТЕ ВАШЕ ИМЯ</label>
								<span class="input__underline"></span>
							</div>
						</div>
						<div class="col col--xs-12 col--sm-12 col--md-4 col--lg-4 col--xl-4">
							<div class="fieldset">
								<input class="form__form-input input__validation" id="tel" name="tel" type="text" placeholder="+ 375 (29) 000 00 00">
								<label class="form__form-label" for="tel">ВВЕДИТЕ ВАШ ТЕЛЕФОН</label>
								<span class="input__underline"></span>
							</div>
						</div>
						<div class="col col--xs-12 col--sm-12 col--md-4 col--lg-3 col--xl-3">
							<div class="fieldset">
								<input class="form__form-input input__validation" id="email" name="email" type="email" placeholder="contact@mail.com">
								<label class="form__form-label" for="email">ВВЕДИТЕ ВАШУ ПОЧТУ</label>
								<span class="input__underline"></span>
							</div>
						</div>
						<div class="col col--xs-0 col--sm-0 col--md-0 col--lg-1 col--xl-1"></div>
					</div>
					<div class="row">
						<div class="col col--xs-0 col--sm-0 col--md-0 col--lg-1 col--xl-1"></div>
						<div class="col col--xs-12 col--sm-12 col--md-10 col--lg-10 col--xl-10">
							<div class="fieldset fluid">
								<textarea class="form__form-textarea" id="message" name="msg" placeholder="Введите ваше сообщение"></textarea>
								<label class="form__form-label" for="message">ВВЕДИТЕ СВОЕ СООБЩЕНИЕ</label>
								<span class="input__underline"></span>
							</div>
						</div>
						<div class="col col--xs-0 col--sm-0 col--md-0 col--lg-1 col--xl-1"></div>
					</div>
					<div class="row">
						<div class="col col--xs-12 col--sm-12 col--md-12 col--lg-12 col--xl-12">
							<button class="form__btn btn-js">ОТПРАВИТЬ<span></span></button>
						</div>
					</div>
					<div class="row">
						<div class="col col--xs-12 col--sm-12 col--md-12 col--lg-12 col--xl-12">
							<a href="#" class="remodal__privacy-policy" data-remodal-target="privacy-policy">Политика конфиденциальности</a>
						</div>
					</div>
				</form>	
			</div>
		</div>
	</div>
</div>

<!-- /Quastion popup -->



<!-- Bonus popup -->

<div class="remodal-bg">
	<div class="remodal" data-remodal-id="bonus-form">
		<div data-remodal-action="close" class="remodal-close">
			<svg class="remodal-close__icon" width="20px" height="20px" viewBox="680.314 0 2267.721 2267.719">
				<polygon points="2948.035,197.169 2750.865,0 1814.175,936.691 877.483,0 680.314,197.169 1617.006,1133.86 680.314,2070.551   877.483,2267.72 1814.175,1331.029 2750.865,2267.72 2948.035,2070.551 2011.344,1133.86 "/>
			</svg>
		</div>
		<div class="remodal__content">
			<div class="grid grid--container">
				<div class="row">
					<div class="col col--xs-12 col--sm-12 col--md-12 col--lg-12 col--xl-12">
						<h3 class="remodal__title">ПОЛУЧИТЬ БОНУС</h3>
					</div>
					<div class="col col--xs-12 col--sm-12 col--md-12 col--lg-12 col--xl-12">
						<p class="remodal__subtitle">ЗАПОЛНИТЕ ФОРМУ И ПОЛУЧИТЕ БОНУС</p>
					</div>
				</div>
				<form id="bonus_form" class="remodal__form form">
					<div class="row">
						<div class="col col--xs-0 col--sm-0 col--md-0 col--lg-1 col--xl-1"></div>
						<div class="col col--xs-12 col--sm-12 col--md-4 col--lg-3 col--xl-3">
							<div class="fieldset">
								<input class="form__form-input input__validation" id="name" name="name" type="text" placeholder="Иванов Василий">
								<label class="form__form-label" for="name">ВВЕДИТЕ ВАШЕ ИМЯ</label>
								<span class="input__underline"></span>
							</div>
						</div>
						<div class="col col--xs-12 col--sm-12 col--md-4 col--lg-4 col--xl-4">
							<div class="fieldset">
								<input class="form__form-input input__validation" id="tel" name="tel" type="text" placeholder="+ 375 (29) 000 00 00">
								<label class="form__form-label" for="tel">ВВЕДИТЕ ВАШ ТЕЛЕФОН</label>
								<span class="input__underline"></span>
							</div>
						</div>
						<div class="col col--xs-12 col--sm-12 col--md-4 col--lg-3 col--xl-3">
							<div class="fieldset">
								<input class="form__form-input input__validation" id="email" name="email" type="email" placeholder="contact@mail.com">
								<label class="form__form-label" for="email">ВВЕДИТЕ ВАШУ ПОЧТУ</label>
								<span class="input__underline"></span>
							</div>
						</div>
						<div class="col col--xs-0 col--sm-0 col--md-0 col--lg-1 col--xl-1"></div>
					</div>
					<div class="row">
						<div class="col col--xs-0 col--sm-0 col--md-0 col--lg-1 col--xl-1"></div>
						<div class="col col--xs-12 col--sm-12 col--md-10 col--lg-10 col--xl-10">
							<div class="fieldset fluid">
								<textarea class="form__form-textarea" id="message" name="msg" placeholder="Введите ваше сообщение"></textarea>
								<label class="form__form-label" for="message">ВВЕДИТЕ СВОЕ СООБЩЕНИЕ</label>
								<span class="input__underline"></span>
							</div>
						</div>
						<div class="col col--xs-0 col--sm-0 col--md-0 col--lg-1 col--xl-1"></div>
					</div>
					<div class="row">
						<div class="col col--xs-12 col--sm-12 col--md-12 col--lg-12 col--xl-12">
							<button class="form__btn btn-js">ОТПРАВИТЬ<span></span></button>
						</div>
					</div>
					<div class="row">
						<div class="col col--xs-12 col--sm-12 col--md-12 col--lg-12 col--xl-12">
							<a href="#" class="remodal__privacy-policy" data-remodal-target="privacy-policy">Политика конфиденциальности</a>
						</div>
					</div>
				</form>	
			</div>
		</div>
	</div>
</div>

<!-- /Bonus popup -->



<!-- Cooperation popup -->

<div class="remodal-bg">
	<div class="remodal" data-remodal-id="cooperation-form">
		<div data-remodal-action="close" class="remodal-close">
			<svg class="remodal-close__icon" width="20px" height="20px" viewBox="680.314 0 2267.721 2267.719">
				<polygon points="2948.035,197.169 2750.865,0 1814.175,936.691 877.483,0 680.314,197.169 1617.006,1133.86 680.314,2070.551   877.483,2267.72 1814.175,1331.029 2750.865,2267.72 2948.035,2070.551 2011.344,1133.86 "/>
			</svg>
		</div>
		<div class="remodal__content">
			<div class="grid grid--container">
				<div class="row">
					<div class="col col--xs-12 col--sm-12 col--md-12 col--lg-12 col--xl-12">
						<h3 class="remodal__title">СОТРУДНИЧАТЬ</h3>
					</div>
					<div class="col col--xs-12 col--sm-12 col--md-12 col--lg-12 col--xl-12">
						<p class="remodal__subtitle">ЗАПОЛНИТЕ ФОРМУ И МЫ С ВАМИ СВЯЖЕМСЯ</p>
					</div>
				</div>
				<form id="cooperation_form" class="remodal__form form">
					<div class="row">
						<div class="col col--xs-0 col--sm-0 col--md-0 col--lg-1 col--xl-1"></div>
						<div class="col col--xs-12 col--sm-12 col--md-4 col--lg-3 col--xl-3">
							<div class="fieldset">
								<input class="form__form-input input__validation" id="name" name="name" type="text" placeholder="Иванов Василий">
								<label class="form__form-label" for="name">ВВЕДИТЕ ВАШЕ ИМЯ</label>
								<span class="input__underline"></span>
							</div>
						</div>
						<div class="col col--xs-12 col--sm-12 col--md-4 col--lg-4 col--xl-4">
							<div class="fieldset">
								<input class="form__form-input input__validation" id="tel" name="tel" type="text" placeholder="+ 375 (29) 000 00 00">
								<label class="form__form-label" for="tel">ВВЕДИТЕ ВАШ ТЕЛЕФОН</label>
								<span class="input__underline"></span>
							</div>
						</div>
						<div class="col col--xs-12 col--sm-12 col--md-4 col--lg-3 col--xl-3">
							<div class="fieldset">
								<input class="form__form-input input__validation" id="email" name="email" type="email" placeholder="contact@mail.com">
								<label class="form__form-label" for="email">ВВЕДИТЕ ВАШУ ПОЧТУ</label>
								<span class="input__underline"></span>
							</div>
						</div>
						<div class="col col--xs-0 col--sm-0 col--md-0 col--lg-1 col--xl-1"></div>
					</div>
					<div class="row">
						<div class="col col--xs-0 col--sm-0 col--md-0 col--lg-1 col--xl-1"></div>
						<div class="col col--xs-12 col--sm-12 col--md-10 col--lg-10 col--xl-10">
							<div class="fieldset fluid">
								<textarea class="form__form-textarea" id="message" name="msg" placeholder="Введите ваше сообщение"></textarea>
								<label class="form__form-label" for="message">ВВЕДИТЕ СВОЕ СООБЩЕНИЕ</label>
								<span class="input__underline"></span>
							</div>
						</div>
						<div class="col col--xs-0 col--sm-0 col--md-0 col--lg-1 col--xl-1"></div>
					</div>
					<div class="row">
						<div class="col col--xs-12 col--sm-12 col--md-12 col--lg-12 col--xl-12">
							<button class="form__btn btn-js">ОТПРАВИТЬ<span></span></button>
						</div>
					</div>
					<div class="row">
						<div class="col col--xs-12 col--sm-12 col--md-12 col--lg-12 col--xl-12">
							<a href="#" class="remodal__privacy-policy" data-remodal-target="privacy-policy">Политика конфиденциальности</a>
						</div>
					</div>
				</form>	
			</div>
		</div>
	</div>
</div>

<!-- /Cooperation popup -->



<!-- Success popup -->

<div class="remodal-bg">
	<div class="remodal success__popup" data-remodal-id="success">
		<div data-remodal-action="close" class="remodal-close">
			<svg class="remodal-close__icon" width="20px" height="20px" viewBox="680.314 0 2267.721 2267.719">
				<polygon points="2948.035,197.169 2750.865,0 1814.175,936.691 877.483,0 680.314,197.169 1617.006,1133.86 680.314,2070.551   877.483,2267.72 1814.175,1331.029 2750.865,2267.72 2948.035,2070.551 2011.344,1133.86 "/>
			</svg>
		</div>
  		<p class="success__title">ЗАЯВКА УСПЕШНО ОТПРАВЛЕНА</p>
  		<p class="success__subtitle">Мы свяжемся с вами в ближайшее время</p>
  		<svg class="success__icon" width="100px" height="100px" viewBox="0 0 52 52">
  			<circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
  			<path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
  		</svg>
	</div>
</div>

<!-- /Success popup -->



<!-- Error popup -->

<div class="remodal-bg">
	<div class="remodal error__popup" data-remodal-id="error">
		<div data-remodal-action="close" class="remodal-close">
			<svg class="remodal-close__icon" width="20px" height="20px" viewBox="680.314 0 2267.721 2267.719">
				<polygon points="2948.035,197.169 2750.865,0 1814.175,936.691 877.483,0 680.314,197.169 1617.006,1133.86 680.314,2070.551   877.483,2267.72 1814.175,1331.029 2750.865,2267.72 2948.035,2070.551 2011.344,1133.86 "/>
			</svg>
		</div>
  		<p class="error__title">ПРОИЗОШЛА ОШИБКА ПРИ ОТПРАВКЕ ДАННЫХ</p>
  		<p class="error__subtitle">Error</p>
  		<svg class="error__icon" width="100px" height="100px" viewBox="680.314 0 2267.721 2267.719">
			<g>
				<path d="M1814.175,0C1188.982,0,680.314,508.623,680.314,1133.86s508.668,1133.859,1133.86,1133.859   s1133.86-508.623,1133.86-1133.859S2439.367,0,1814.175,0z M1814.175,2180.499c-577.091,0-1046.64-469.549-1046.64-1046.64   S1237.084,87.22,1814.175,87.22s1046.64,469.549,1046.64,1046.64S2391.266,2180.499,1814.175,2180.499z"/>
				<path d="M2237.497,710.537c-17.052-17.052-44.613-17.052-61.665,0l-361.657,361.658l-361.657-361.658   c-17.052-17.052-44.613-17.052-61.665,0s-17.052,44.613,0,61.664l361.657,361.658l-361.657,361.657   c-17.052,17.052-17.052,44.613,0,61.665c8.504,8.504,19.668,12.777,30.832,12.777c11.165,0,22.329-4.273,30.833-12.777   l361.657-361.658l361.657,361.658c8.504,8.504,19.668,12.777,30.833,12.777c11.164,0,22.328-4.273,30.832-12.777   c17.052-17.052,17.052-44.613,0-61.665L1875.84,1133.86l361.657-361.658C2254.549,755.151,2254.549,727.589,2237.497,710.537z"/>
			</g>
		</svg>
	</div>
</div>

<!-- /Error popup -->



<!-- Privacy Policy -->

<div class="remodal-bg">
	<div class="remodal" data-remodal-id="privacy-policy">
		<div data-remodal-action="close" class="remodal-close">
			<svg class="remodal-close__icon" width="20px" height="20px" viewBox="680.314 0 2267.721 2267.719">
				<polygon points="2948.035,197.169 2750.865,0 1814.175,936.691 877.483,0 680.314,197.169 1617.006,1133.86 680.314,2070.551   877.483,2267.72 1814.175,1331.029 2750.865,2267.72 2948.035,2070.551 2011.344,1133.86 "/>
			</svg>
		</div>
  		<p class="error__title">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</p>
	</div>
</div>

<!-- /Privacy Policy -->



<!-- LINKED FILES -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="../js/main.min.js"></script>