// Calculator styles



.calculator {

	@include respond-to(extrasmall) {
		padding: 0 15px;
	}

	@include respond-to(small) {
		padding: 0 15px;
	}

	.fieldset {
		position: relative;
		display: flex;
		flex-direction: column-reverse;
		align-items: flex-start;
		margin: 26px 0;

		.label {
			position: relative;
			font-family: 'ElliotRegular', sans-serif;
			font-size: 0.8125rem;
			color: $text-third-color;
			margin: 0 0 10px 15px;
			text-align: left;

			@include respond-to(extrasmall) {
				line-height: 1.33;
			}
		}

		.input {
			box-sizing: border-box;
			width: 100%;
			padding: 10px 0 10px 15px;
			font-family: 'ElliotRegular', sans-serif;
			font-size: 1rem;
			line-height: 1.33;
			border: none;
			outline: none;
			border-bottom: 1px solid #cacaca;

			&:focus + label {
				font-family: 'ElliotBold', sans-serif !important;
			}

			&:focus ~ .underline {
				width: 100% !important;
			}
		}

		.custom-select {

			&__agency {
				box-sizing: border-box;
				width: 100%;
				padding: 10px 0 10px 15px;
				font-family: 'ElliotRegular', sans-serif;
				font-size: 1rem;
				line-height: 1.33;
				border: none;
				outline: none;
				border-bottom: 1px solid #cacaca;

				&:active {
					outline: none;
				}
	
				&:focus {
					outline: none;
				}
				
			}

		}

		.underline {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0;
			height: 1px;
			background: $text-third-color;
			transition: width 0.5s;
		}
	}

}

.nice-select.open + label {
	font-family: 'ElliotBold', sans-serif !important;
}

input[disabled] {
	background: transparent;
}

input[disabled] + label {
	opacity: 0.5;
}

.tooltip {
	position: absolute;
	top: 0;
	right: 0;

	&__icon {
		position: absolute;
		top: -6px;
		right: -20px;
		width: 12px;
		height: 12px;
		fill: $text-third-color;
		opacity: 0.5;
		cursor: pointer;
		transition: opacity 0.3s;

		@include respond-to(extrasmall) {
			right: 0;
		}

		&:hover {
			opacity: 1;
		}
	}

	&__block {
		display: none;
		max-width: 210px;
		position: relative;
		top: -90px;
		left: 110%;
		padding: 10px;
		font-family: 'ElliotRegular', sans-serif;
		font-size: 0.75rem;
		color: $white;
		line-height: (14/12);
		background: $text-third-color;
		text-align: left;

		@include respond-to(extrasmall) {
			left: -20px;
		}

		&.opened {
			display: block;
		}

	}

}



.calc__price__text {
	margin: 0;
	font-family: 'ElliotRegular', sans-serif;
	font-size: 0.8125rem;
	color: $text-primary-color;
}

.calc__price__count {
	margin: 10px 0;
	font-family: 'ElliotBold', sans-serif;
	font-size: 1.125rem;
	color: $accent-color;
	text-transform: uppercase;

	span {
		font-size: 2rem;
	}
}

.calc__btn {
	@include btn($text-third-color, $btn-border-color-light);
	background: transparent;
	margin: 37px 0 0 0;
	text-transform: uppercase;

	&:focus {
		outline: none;
	}
}



// Custom Checkbox
.checkbox {
	position: relative;
	cursor: pointer;
	outline: none;
	margin: 15px 0 0 15px;
}
.checkbox:before {
	transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
	transform: rotate(-45deg) scale(0, 0);
	content: "";
	position: absolute;
	left: 2px;
	top: 3px;
	z-index: 1;
	width: 8px;
	height: 5px;
	border: 2px solid $accent-color;
	border-top-style: none;
	border-right-style: none;
}
.checkbox:checked:before {
	transform: rotate(-45deg) scale(1, 1);
}
.checkbox:after {
	content: "";
	position: absolute;
	left: 0;
	width: 13px;
	height: 13px;
	background: #fff;
	border: 1px solid $text-third-color;
	border-radius: 2px;
	cursor: pointer;
}