//  GPU website Settings
//  ------------------------------
//
//  Table of Contents:
//
//   1. Colors
//   2. Sizes
//   3. Typography
//   4. Block Grid





// 1. Colors
$accent-color: #c9070d;

$white: #fff;
$grey: #d8d8d8;
$error: #c9070d;
$success: #53ba5c;

$footer-top-bg: #f4f4f4;
$footer-bottom-bg: #eeeeee;
$service-card-bg: #f8f8f8;

$review-line: #bebebe;

$btn-border-color-light: rgba(88, 88, 88, 0.3);
$btn-border-color-dark: rgba(88, 88, 88, 0.5);

// 2. Sizes


// 3. Typography
$base-font-size: 16px;

$menu-text-color: #bfbfbf;
$pagination-text-color: #bfbfbf;
$text-primary-color: #585858;
$text-secondary-color: #242424;
$text-third-color: #2f2f2f;
$text-color-dark: #272727;
$text-color-grey: #545454;
$grey-light: #cacaca;

// 4. Block Grid
$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;
$container-small: 750px;
$container-medium: 970px;
$container-large: 1170px;