/*!
 * Project: GPU
 * Description: GPU website
 * Website URI: www.gpu.by
 * Author: Spaced DA
 * Author URI: http://www.spaced.by
 * Version: 1.0.0
 */



// base
@import "base/normalize";
@import "base/typography";

// utils
@import "utils/variables";
@import "utils/mixins";

// layout
@import "layout/grid";
@import "layout/header";
@import "layout/footer";

// components
@import "components/navigation-panel";
@import "components/block";
@import "components/menu-adaptive";
@import "components/scrolldown-line";
@import "components/breadcrumbs";
@import "components/calculator";
@import "components/advanteges";
@import "components/stoke-block";
@import "components/cooperation";
@import "components/popup";
@import "components/form";
@import "components/cards-link";

// pages
@import "pages/home";
@import "pages/about";
@import "pages/services";
@import "pages/faq";
@import "pages/outsourcing";
@import "pages/contacts";
@import "pages/calculator";
@import "pages/service-page";

// vendors
@import "vendors/swiper";
@import "vendors/animate";
@import "vendors/remodal";
@import "vendors/remodal-default-theme";
@import "vendors/nice-select";

// vendors-extensions
@import "vendors-extensions/swiper";
@import "vendors-extensions/animate";
@import "vendors-extensions/remodal-default-theme";
@import "vendors-extensions/nice-select";


// Some extra classes
.col {
	@include respond-to(extrasmall) {
		padding: 0;
	}
}

/* fix iOS bug not displaying 100vh correctly */
/* ipad */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.header {
		height: 768px;
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	.header {
		height: 1024px;
	}
}
/* iphone5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
	.header {
		height: 320px;
	}
}
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
	.header {
		height: 568px;
	}
}
/* iPhone 4 */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
	.header {
		height: 320px;
	}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
	.header {
		height: 480px;
	}
}