// Fonts


// FSElliotPro Regular
@font-face{
	font-family: 'ElliotRegular';
    src: url('../fonts/ElliotRegular.eot') format('eot'),
    	url('../fonts/ElliotRegular.woff2') format('woff2'),
	    url('../fonts/ElliotRegular.woff') format('woff');
}

// FSElliotPro Light
@font-face{
	font-family: 'ElliotLight';
    src: url('../fonts/ElliotLight.eot') format('eot'),
    	url('../fonts/ElliotLight.woff2') format('woff2'),
	    url('../fonts/ElliotLight.woff') format('woff');
}

// FSElliotPro Bold
@font-face{
	font-family: 'ElliotBold';
    src: url('../fonts/ElliotBold.eot') format('eot'),
    	url('../fonts/ElliotBold.woff2') format('woff2'),
	    url('../fonts/ElliotBold.woff') format('woff');
}

// FSElliotPro Heavy
@font-face{
	font-family: 'ElliotHeavy';
    src: url('../fonts/ElliotHeavy.eot') format('eot'),
    	url('../fonts/ElliotHeavy.woff2') format('woff2'),
	    url('../fonts/ElliotHeavy.woff') format('woff');
}